.container {
    width: 290px;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 10px;
}
.flexContainer {
    background: burlywood;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: 40px;

}
.title {
    color: white;
}