.searchFormWrapper {
    padding: 10px;
    margin-left: 20px;
    display: flex;
}
.searchFormElements {
    display: flex;
}
.searchFormElements div{
    padding: 2px;
    margin-right: 20px;
}
.columnWrapper{
    display: flex;
    flex-direction: column;
}

.searchFormInput{
    height: 45px;
    border: 1px solid #343a40;
    border-radius: 5px;
}

.searchFormButton{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.searchFormSelect{
    height: 45px;
    text-align: right;
    color: #343a40;
    border: 1px solid #343a40;
    border-radius: 5px;
}
.userList {
    padding-top: 10px;
}
.usersNotFound {
    text-align: center;
    font-size: 26px;
}