
.headerBlock {
    padding-top: 18px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.logoBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-height: 30px;
}

.label {
    margin: 0 0 0 30px;
    font-size: 16px;
    line-height: 18px;
}

.linksBlock {
    display: flex;
}

.linkItem {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.linksBlock img{
    width: 30px;
    height: 30px;
}


.linkItem:last-child {
    margin: 0;
}

.linkItem img {
    padding: 2px;
}

.loginBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.loginName{
    margin-right: 10px;
    font-size: 16px;
    line-height: 18px;
}


.loginDropDown{
    display: none;
    position: absolute;
    background-color: transparent;
    font-size: 16px;
    left: 20px;
    width: 50px;
    top: 40px;
}

.loginBlock:hover .loginDropDown{
    display: block;
}



/*.header img {*/
/*    max-width: 55px;*/
/*    max-height: 55px;*/
/*    margin: 15px 0px 0px 5px;*/
/*}*/

/*.loginBlock {*/
/*    float: right;*/
/*    margin-right: 20px;*/
/*    margin-top: 16px;*/
/*}*/
/*.loginBlock a {*/
/*    color: white;*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/
/*}*/
/*.loginBlock span {*/
/*    color: white;*/
/*}*/
/*.loginBlock_logout {*/
/*    cursor: pointer;*/
/*}*/
/*.loginBlock__user {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin-bottom: 15px;*/
/*}*/