.header {
    grid-area: header;
    background: lightgreen;
    height: 72px;
}
.header img {
    max-width: 55px;
    max-height: 55px;
    margin: 15px 0px 0px 5px;
}
.loginBlock {
    float: right;
    margin-right: 20px;
    margin-top: 22px;
}
.loginBlock a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.loginBlock span {
    color: white;
}