.selectedPage {
    font-weight: bold;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 0 30px;
}

.navPageBtn {
    width: 50px;
    border: 1px solid teal;
    border-radius: 5px;
    background: beige;
}