
input[type='password'],
input[type='email'],
input[type='text'],
textarea {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.error {
    color: red;
}

.form-control{
    margin-bottom: 20px;
}
.form-checkbox{
    display: flex;
}
.form-checkbox label{
    padding-right: 10px;
}
.captcha-block {
    display: flex;
    flex-direction: column;

}

.captcha-block img {
    width: 200px;
    height: 100px;
    padding-bottom: 10px;
}