.App {

}

.wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-areas: "header header"
                        "navigation content";
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 10fr;
  grid-gap: 10px;
}

.wrapper-content {
  grid-area: content;
  background: beige;
  padding-left: 4px;
}

