.nav {
    grid-area: navigation;
    background: burlywood;
}
.item {
    color: white;
    text-decoration: none;
    padding: 0px 50px;
}
.activeLink {
    color: goldenrod;
}
.flexContainer{
    background: burlywood;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: center;
}